html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  letter-spacing: 0.2pt;
  color: #444444;
  line-height: 20px;
  font: {
    size: 12px;
    family: Droid sans
  }
}

.clear {
  clear: both;
}

p {
  margin: 0;
}

a {
  color: #88bbc8;
  text-decoration: underline;
  font: {
    size: 12px;
    family: Droid sans;
  }
  &:hover {
    color: #37abc8;
  }
}

.add-new {
  font: {
    style: italic;
  }
}

#header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: asset_url('head-bg.png', image) repeat-x;
  color: #d8d7d7;
  .shadow {
    height: 32px;
    padding: 20px 20px 20px 30px;
    margin-left: 1px;
    background: asset_url('shadow.gif', image) repeat-x 0px 70px;
  }
  .user {
    width: 1020px;
    margin: 0 auto;
    line-height: 15px;
    .welcome {
      width: 230px;
      float: left;
    }
    font: {
      family: Droid serif;
      style: italic;
    }
    a {
      color: #666666;
      text-decoration: none;
      margin-left: 3px;
      font: {
        family: Arial;
        style: normal;
        size: 13px;
      }
      &:hover {
      color: #d8d7d7;
      }
    }
  }
  p {
    margin: 0px;
    padding: 0px;
  }
}

#main {
  height: auto !important;
  margin: 0px;
  min-height: 100%;
  padding: 0;
  .footer-push {
    height: 100px;
    margin: 0;
    padding: 0;
  }
}

#content {
  width: 1020px;
  margin: 0 auto;
  padding: 80px 0px 40px;
  position: relative;
}

#left {
  position: fixed;
  text-align: right;
  z-index: 100;
  .wrap {
    border-right: 1px solid #efefef;
    padding: 0px 10px 0px 30px;
    width: 160px;
  }
  h3 {
    color: #999999;
    background: #f8f8f8;
    padding: 7px;
    margin-bottom: 13px;
    font: {
      size: 9px;
      weight: normal;
      family: Arial;
    }
  }
  ul {
    padding: 0px 7px 0px 0px;
    margin: 0;
  }
  li {
    list: {
      style: none;
    }
    a {
      text-decoration: none;
      span {
        color: #999999;
        font: {
          style: italic;
          size: 11px;
          family: Droid serif;
        }
      }
      &:hover{
        span {
          color: #4b4b4b;
        }
      }
    }
    .logout {
      color: #999999;
      background: asset_url('cross.gif', image) no-repeat 0px 3px;
      padding-left: 10px;
      &:hover {
        color: #4b4b4b;
        background-position: 0px -13px;
      }
    }
  }
}

#center {
  padding:0px 20px 0px 220px;
  width: 780px;
  position: relative;
  height: 100%;
  h1 {
    color: #6f1113;
    letter-spacing: 1.0pt;
    line-height: 32px;
    margin: 40px 0px;
    font: {
      family: Droid serif;
      size: 27px;
    }
    span {
      color: #444444;
    }
  }
  h2 {
    margin: 20px 0px;
    letter-spacing: 0.75pt;
    font: {
      weight: bold;
      size: 14px;
      family: Droid serif;
    }
  }
  p {
    text-indent: 20px;
    &.code {
      text-indent: 0px;
      padding: 7px 15px;
      margin: 2px 0px;
      background: #f8f8f8;
      font: {
        family: Consolas;
      }
    }
  }
}

#footer {
  height: 40px;
  width: 1020px;
  margin: 0 auto;
  border-top: 1px solid #efefef;
  padding: 20px 10px 0px 10px;
  span {
    color: #999999;
    font: {
      size: 11px;
    }
  }
  a {
      color: #444444;
      text-decoration: none;
      font: {
        size: 11px;
      }
  }
}
